/* You can add global styles to this file, and also import other style files */

/* Import Bootsstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css'; 
@import '~font-awesome/css/font-awesome.css';

body {
    background: url("assets/images/cs-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-layout {
    background: rgba(255,255,255,.3);
    width: 100%;
    height: 100%;
    position: fixed;
}